<div id="form-header" class="col-sm-12"><h1>Informacje o badanym</h1></div>
<div id="form-container" class="col-sm-6">
    <div id="form-age" class="row">
        <div class="col-sm-3">Wiek</div>
        <div class="col-sm-9">
            <input ng-model="info.age" type="number" min="15" max="50">
        </div>
    </div>
    <div id="form-gender" class="row">
        <div class="col-sm-3">Płeć</div>
        <div class="col-sm-9">
            <select ng-model="info.gender" ng-options="g for g in gender">
            </select>
        </div>
    </div>
    <div id="form-acuity" class="row">
        <div class="col-sm-3">Wady wzroku</div>
        <div class="col-sm-9">
            <div ng-repeat="eye in eyes" class="row">
                <div class="col-sm-1">
                    <input type="checkbox" ng-model="eye.left" ng-if="eye.left !== undefined">
                </div>
                <div class="col-sm-1">
                    <input type="checkbox" ng-model="eye.right" ng-if="eye.right !== undefined">
                </div>
                <div class="col-sm-10">
                    {{eye.text}}
                </div>
            </div>
        </div>
        <div class="col-sm-1 col-sm-offset-5">
            <button ng-click="openModal()">Szczegóły</button>
        </div>
    </div>
</div>